D1: Compare
[{"id":"fe3097dd.a287d8","type":"tab","label":"Comparision","disabled":true,"info":""},{"id":"a598acb9.9261f","type":"random","z":"fe3097dd.a287d8","name":"Number Generator","low":"35","high":"65","inte":"true","property":"payload","x":290,"y":200,"wires":[["91cc137a.b983","8b39a297.2a6e7"]]},{"id":"6344df84.7bed","type":"inject","z":"fe3097dd.a287d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[[]]},{"id":"91cc137a.b983","type":"function","z":"fe3097dd.a287d8","name":"Comparison","func":"var val = parseInt(msg.payload);\n\nif (val == 50){\n msg.payload = \"Equal to 50\";\n}\nelse if (val > 50){\n msg.payload = \"Greater than 50\";\n}\nelse{\n msg.payload = \"Smaller than 50\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":300,"wires":[["b5e716d7.564838"]]},{"id":"b5e716d7.564838","type":"debug","z":"fe3097dd.a287d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"8b39a297.2a6e7","type":"debug","z":"fe3097dd.a287d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":80,"wires":[]}]
