Day6.json
[{"id":"56970bdc.c12284","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b90fcda6.e6b22","type":"inject","z":"56970bdc.c12284","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"compact\":{\"outdoor\":{\"temperature\":15.2,\"humidity\":19,\"temperatureTrend\":\"stable\",\"battery_percent\":57,\"rf_status\":71},\"rain\":{},\"temperature\":20.7,\"temperatureTrend\":\"stable\",\"co2\":486,\"humidity\":37,\"noise\":44,\"pressure\":1026,\"pressureTrend\":\"down\",\"station_name\":\"XXX\",\"last_status_store\":1542206768},\"detailed\":[{\"_id\":\"70:ee:50:00:ea:18\",\"cipher_id\":\"XXX\",\"date_setup\":1371091374,\"last_setup\":1371091374,\"type\":\"NAMain\",\"last_status_store\":1542206768,\"module_name\":\"XXX\",\"firmware\":132,\"last_upgrade\":1440121433,\"wifi_status\":50,\"co2_calibrating\":false,\"station_name\":\"XXX\",\"data_type\":[\"Temperature\",\"CO2\",\"Humidity\",\"Noise\",\"Pressure\"],\"place\":{\"altitude\":120.08533983542,\"city\":\"XXX\",\"country\":\"US\",\"timezone\":\"XXX\",\"location\":[\"XXX\",\"XXX\"]},\"dashboard_data\":{\"time_utc\":1542206753,\"Temperature\":20.7,\"CO2\":486,\"Humidity\":37,\"Noise\":44,\"Pressure\":1026,\"AbsolutePressure\":1011.5,\"min_temp\":20.6,\"max_temp\":21.4,\"date_min_temp\":1542204365,\"date_max_temp\":1542182477,\"temp_trend\":\"stable\",\"pressure_trend\":\"down\"},\"modules\":[{\"_id\":\"02:00:00:00:f8:c4\",\"type\":\"NAModule1\",\"module_name\":\"Outdoor\",\"data_type\":[\"Temperature\",\"Humidity\"],\"last_setup\":1371091749,\"dashboard_data\":{\"time_utc\":1542206723,\"Temperature\":15.2,\"Humidity\":19,\"min_temp\":14.8,\"max_temp\":17.3,\"date_min_temp\":1542203724,\"date_max_temp\":1542189727,\"temp_trend\":\"up\"},\"firmware\":44,\"last_message\":1542206762,\"last_seen\":1542206723,\"rf_status\":71,\"battery_vp\":4965,\"battery_percent\":57}]}]}","payloadType":"json","x":130,"y":180,"wires":[["fcea5f3d.3a6b2"]]},{"id":"9ea08632.091e18","type":"switch","z":"56970bdc.c12284","name":"","property":"payload.compact.outdoor.temperature","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":180,"wires":[["8087331a.f3de5"]],"inputLabels":["xxx"],"outputLabels":["yyy"]},{"id":"a6ef2b61.e87538","type":"debug","z":"56970bdc.c12284","name":"OUT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.compact.outdoor.temperature","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":120,"wires":[]},{"id":"8087331a.f3de5","type":"debug","z":"56970bdc.c12284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":180,"wires":[]},{"id":"78fc3ea5.262be","type":"change","z":"56970bdc.c12284","name":"Set result","rules":[{"t":"set","p":"result","pt":"msg","to":"payload.compact.outdoor.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":240,"wires":[["7695b562.09585c"]]},{"id":"7695b562.09585c","type":"debug","z":"56970bdc.c12284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"fcea5f3d.3a6b2","type":"change","z":"56970bdc.c12284","name":"Set output","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.compact.outdoor.temperature*10 & '%' & payload.compact.outdoor.humidity*10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":340,"wires":[["8e696c1b.b8c28"]]},{"id":"77af2f5a.c5a35","type":"debug","z":"56970bdc.c12284","name":"O3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"8e696c1b.b8c28","type":"split","z":"56970bdc.c12284","name":"","splt":"%","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":340,"wires":[["77af2f5a.c5a35"]]}]