flows.json
[{"id":"1e63dda3.758102","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ab96b9d.0fff54","type":"inject","z":"1e63dda3.758102","name":"SENSOR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["6dbc9738.0b0ba8"]]},{"id":"d8ee1fb1.d0c4c","type":"e-mail","z":"1e63dda3.758102","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"slonare@forbesmarshall.com","dname":"","x":660,"y":60,"wires":[]},{"id":"67fe8835.4ca368","type":"debug","z":"1e63dda3.758102","name":"PAY2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"6dbc9738.0b0ba8","type":"random","z":"1e63dda3.758102","name":"TEMP","low":"20","high":"90","inte":"true","property":"payload","x":270,"y":180,"wires":[["8fd0861c.e98748"]]},{"id":"8fd0861c.e98748","type":"function","z":"1e63dda3.758102","name":"Comparison","func":"var val = parseInt(msg.payload);\n\nif (val < 45){\n msg.payload1 = \"CONDITION IS NORMAL\";\n}\nelse if (val > 70){\n msg.payload = \"CONDITION IS CRITICAL\";\n}\nelse if(val > 46 && val < 69){\n msg.payload2 = \"CONDITION IS MODERATE\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["67fe8835.4ca368","90ba7e53.40684","9521eaa5.e48138"]]},{"id":"90ba7e53.40684","type":"debug","z":"1e63dda3.758102","name":"PAY1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload1","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"9521eaa5.e48138","type":"debug","z":"1e63dda3.758102","name":"PAY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":260,"wires":[]}]